*{
    padding: 0;
    margin: 0;
}
body {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    }
@font-face{
    font-family: titulos;
    src: url(font/kitten/KittenSlantTrial.ttf);
    font-style: thin;
}

@font-face{
    font-family: titulos-2;
    src: url(font/kitten/KittenSlantTrial.ttf);
    font-style: thin;
}

@font-face{
    font-family: textos;
    src: url(font/palanquin/palanquin-regular.ttf);
    font-style: normal;
}
@font-face {
    font-family: textos-dark;
    src: url(font/palanquin/palanquindark-regular.ttf);
    font-style:normal;
}

@media screen and (max-width: 480px){
    .descktop{
        display: none;
    }
    a{
        text-decoration: none;
    }
    .secao{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .secao-tamanho{
        width: 100vw;
        height: 95vh;
    }
    .secao-estrutura-titulo{
        width: 100vw;
        height: 19.5vh;
        position: relative;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    }
    .fonte-titulos{
        font-family: titulos;
    }
    .fonte-textos{
        font-family: textos;
        padding: 2vw;
        line-height: 15pt;
    }
    .secao-titulo{
        font-family: titulos;
        font-size: 300%;
    }

    .img-sobre{
        width: 60vw;
        margin-top: 5vh;
    }
    .redes-socias{
        padding: 2vw 3vw 2vw 3vw;
        width: 17vw;
    }
    form > div{
        width: 80vw;
    }
    .campo-form{
        margin-bottom: 2vh;
        width: 100%;
        height: 5vh;
        border-radius: 60px;
        padding-left: 2vw;
        border: none;
    }

    .rodape-texto{
        font-size: 8pt;
        padding: 1vw;
    }
    .secao-footer{
        height: 50%;
        width: 100vw;
    }
    
    .botao-form{
        width: 45vw;
        border-radius: 60px;
    }
    .barra-fixa{
        width: 100%;
        height: 40px;
        top: 0;
        position: fixed;
        z-index: 1000;
    }
    .margin-barra{
        padding-top: 35px;
    }
    .sociais-menu{
        width: 100vw;
        height: 20vh;
        display: flex;
    }
    .sociais-menu-img{
        width: 50%;
        height: 100%;
    }
    .secao-textos{
        font-family: textos;
        font-size: 18pt;
        line-height: 21pt;
        padding: 1em;
    }
    .alinhar-texto-centro{
        text-align: center;
    }

    .tamanho-fonte{
        font-size: 17pt;
        line-height: 20pt;
    }

    .divisao-animal-desc{
        width: 90vw;
        height: auto;
        margin:  20px 20px 20px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .secao-animais{
        height: auto;
        overflow: auto;
        margin-top: 3vh;
    }
    .texto-bold{
        font-family: textos-dark;
        font-size: 16pt;
    }
    .secao-subtitulo {
        font-family: titulos;
        font-size: 18pt;
    }
    .secao-titulo-apoio{
        font-size: 28pt;
    }

    .secao-titulo-apoio2{
        font-size: 28pt;
        margin-bottom: 20pt;
    }
    
    .secao-titulo-sobre{
        font-size: 28pt;
    }

    .secao-textos-sobre{
        font-size: 14pt;
    }

    .secao-titulo-adocao{
        font-size: 27pt;
    }
    .texto-o-projeto{
        margin-top: 10vh;
    }

    .secao-titulo-porque{
        font-family: titulos-2;
        font-size: 22pt;
    }

    .secao-subtitulo-porque{
        font-size: 18pt;
    }

    .secao-textos-porque{
        font-size: 10pt;
        line-height: 12pt;
    }

    .secao-textos-ensaios{
        font-size: 14pt;
        line-height: 17pt;
    }
    .logo{
        width: 60vw;
    }
    .titulo-inicio{
        font-size: 500%;
    }
    .icone-apoio{
        padding: 5vh 10vw 0vh 10vw;
    }
    .sair{
        cursor: pointer;
        width: 40px;
        height: 40px;
        font-size: 16pt;
        text-align: center;
        position: absolute;
        right: 0;
    }
    .margin-titulo-apoio{
        margin-right: 5vw;
    }
    
    .img-catalogo{
        width: 100%;
        height: 100%;
    }
    .modal{
        display: none; 
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: 1001;
    }
    .menu{
        display: none;
        position: relative;
        z-index: 11;
    }
    .img-modal-adocao{
        bottom: 0;
        width: 100vw;
    }
    .quero-adotar{
        width: 200px;
        height: 45px;
        border-radius: 50px;
        margin-top: 10px;
    }
    .quero-adotar2{
        font-size: 24pt; 
        
    }
    
    .ajustar{
        margin-bottom: 5vw;
    }
    .quero-adotar-fonte{
        font-size: 20pt;
    }

    .secao-textos-adocao{
        font-size: 15pt;
        line-height: 19pt;
    }

    .secao-modal-adote{
        padding-top: 10vh;
    }

    .margin-tirar{
        padding-top: 0vw;
    }
    .ajeitar-nome{
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1pt;
        display: inline-block;
    }

    .img-controle{
        width: 13pt;
        height: 18pt;
    }
    .genero-img{
        height: 35%;
        width: 35%;
        display: inline-block;
    }

    .descricao-animal{
        font-size: 11pt;
        line-height: 13pt;
        text-align: justify;
        text-indent: 1.5em;
        margin: 6vh 2vh 0vh 2vh;
    }

    .titulo-projetosocial{
        font-size: 22pt;
    }

    .texto-projetosocial{
        font-size: 15pt;
        line-height: 17pt;
        text-align: center;
        margin-top: 30px;
    }
    
    .bolabg{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        background-color: rgba(0, 0, 0, 0.5)
    }
    .foto-modal-animal{
        margin: 25px;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        background-color: red;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }
    .foto-animal{
        padding-top: 10%;
        width: 100%;
        height: 100%;
    }
    .foto-modal-animal > img{
        width: 50vw;
    }
    .icone-sair{
        margin: 5px 5px 0px 0px;
        width: 25px;
        height: 25px;
        background-color: red;
        z-index: 5;
        overflow: hidden;
    }
    [class*="col-"] {
        float: left;
        margin: 2px;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
    .col-1{
        width: 32vw;
        height: 17vh;
        display: flex;
        align-items: center;
    
    }
    .col-1 >img{
        width: 130px;
    }
    .col-2{
        width: 70px;
        height: 70px;
    }
    .col-2 > img{
        height: 80px;
    }
    .mural-animais{
        overflow: auto;
        display: none;
    }
    .icones{
        padding: 2vh;
        width: 20vw;
    }
    .seta-ensaio{
        width: 10vw;
        padding-top: 3vh;
    }
    .seta-inicio{
        margin-top: 25vh;
        position: absolute;
    }

    .seta-animacao{
        animation: bounce 1.2s infinite;

    }
    @keyframes bounce{
        0%{
            transform: translateY(0);
        }
        100%{
            transform: translateY(26px);
        }
    }
    .icone-mais{
        position: absolute;
        height: 35px;
        bottom: 10px;
        right: 10px;
    }
    .colu-3{
        width: 100vw;
        height: 24vh;
    }
    .modal-descricao-ensaio{
        width: 100%;
        height: 80%;
        display: none;
    }
    .icone-insta-ensaio{
        width: 16px;
        height: 16px;
        padding: 1vw 0vw 1vw 2vw;
        display: inline-block;
    }
    .div-nome-fotografo{
        display: flex;
        align-items: center;
        font-size: 9pt;
        margin-left: 2vw;
    }

    .fonte-textos-titulo-ensaio{
        font-size: 20pt;
    }

    .img-ensaio-minhatura{
        width: 100vw;
    }
    .bg-img-mais{
        background-image: url(img/ensaio/IMG_7431.jpg);
    }
    .icone-mais-ensaio{
        position: absolute;
        margin-left: 40vw;
        margin-top: 6vh;
    }
    #menos{
        display: none;
    }
    .secao-ong{
        margin-top: 5vh;
        width: 70vw;
        height: 35vh;
    }
    .div-ongs{
        width: 30vw;
        height: 15vh;
        margin: 5px;
        overflow: hidden;
    }
    .div-ongs > img{
        height: 15vh;
    }
    .secao-apoie{
        padding-bottom: 5vh;
    }

    .logo-ong{
        width: 20vw;
        padding: 0vh 6vw 0vh 5vw;
        display: inline-block;
    }
    .nome-foto-ong{
        display: flex;
        align-items: center;
    }

    .botao-doacao{
        margin: 10px;
        width: 65vw;
        height: 9vh;
        border-radius: 60px;
    }

    .botao-doacao-titulo{
        font-size: 15pt;
    }

    .icone-doar{
        width: 15vw;
        padding-right: 2vw;
    }
    .textos-modal-maps{
        width: 80vw; 
    }
    .bancos-modal{
        height: 10vh;
    }
    /* #modalmaps{
         display: none; 
    } */
    
    /*skin*/
    .bg-vermelho{
        background-color: #e83c59;
    }
    .bg-turquesa{
        background-color: #3bb5a4;
    }
    .bg-amarelo{
        background-color: #edcf2f;
    }
    .bg-branco{
        background-color: #F7F8F9;
    }
    .bg-azul-escuro{
        background-color: #4c70aa;
    }
    .bg-laranja{
        background-color: #d46a22;
    }
    .color-branco{
        color: #F7F8F9;
    }
    .color-vermelho{
        color: #e83c59;
    }
    .color-turquesa{
        color: #3bb5a4;
    }
    .color-amarelo{
        color: #edcf2f;
    }
    .color-azul-escuro{
        color: #4c70aa;
    }
    .color-laranja{
        color: #d46a22;
    }
    .bg-foto-sobre{
        background-image: url(img/img-pessoas.png);
    }
    .bg-escuro{
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }
    .rodape{
        padding: 3vh 0vw 0vw 0vw;
        margin-bottom: 0;
    }
    .bg-img-estrutura{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .bg-face-menu{ 
         background-image: url(img/face-menu.png);
    }
    
    .bg-insta-menu{ 
        background-image: url(img/insta-menu.png);
    }
    
    .bg-imagem-ensaio1{
        background-image: url(img/ensaio/IMG_7464.jpg);
    }
    
    /* SLIDESHOW */
    .slide-ensaio-minhatura{
        width: 100vw;
        height: 35vh;
        overflow: hidden;
    }
    
    #slideshow {
        width: calc(10 * 100%);
        height: 100%;
        display: flex;
        transition: transform 0.2s linear;
    }
    
    .item-slideshow {
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    .margin-img{
        margin-top: 12vw;
    }
    
    .bt-slideshow {
        position: absolute;
        /* width: 5vw; */
        margin-top: 15vh;
        z-index: 999;
    }
    
    #bt-anterior {
        left: 3vw;
    }
    
    #bt-proximo {
        right: 3vw;
    }
    .redimencionar{
        margin-top: 40px;
        width: 90%;
        height: 100%;
    }

    .genero{
        float: left
    }
    #nome-animal{
        float: left;
        margin-left: 80px;
    }
    .deixar-de-lado{
        margin: auto;

    }
    .texto-nome-animal{
        font-family: textos-dark;
        font-size: 20pt;
    }
    .raca{
        text-align: center;
        font-size: 12px;

    }



    /* scrollmagic */
    
    /* .scroll-o-projeto{
        opacity: 0;
        transform: translateY(20px);
        transition: all 0.2s ease-out;
    }
    
    .scroll-o-projeto.fade-in{
        opacity: 1;
        transform: translateY(0);
    }
    
    .scroll-ajudar-projetos{
        opacity: 0;
        transform: translateY(20px);
        transition: all ease-out;
    }
    
    .scroll-ajudar-projetos.fade-in{
        opacity: 1;
        transform: translateY(0);
    }
    
    .scroll-dar-visibilidade{
        opacity: 0;
        transform: translateY(20px);
        transition: all ease-out;
    }
    
    .scroll-dar-visibilidade.fade-in{
        opacity: 1;
        transform: translateY(0);
    }
    
    .scroll-ensaios{
        opacity: 0;
        transform: translateY(20px);
        transition: all 0.2s ease-out;
    }
    
    .scroll-ensaios.fade-in{
        opacity: 1;
        transform: translateY(0);
    }
    
    .scroll-adocao{
        opacity: 0;
        transform: translateY(20px);
        transition: all 0.2s ease-out;
    }
    
    .scroll-adocao.fade-in{
        opacity: 1;
        transform: translateY(0);
    }
    
    .scroll-apoio{
        opacity: 0;
        transform: translateY(20px);
        transition: all 0.2s ease-out;
    }
    
    .scroll-apoio.fade-in{
        opacity: 1;
        transform: translateY(0);
    }
    
    .scroll-apoie{
        opacity: 0;
        transform: translateY(20px);
        transition: all 0.2s ease-out;
    }
    
    .scroll-apoie.fade-in{
        opacity: 1;
        transform: translateY(0);
    }
    
    .scroll-sobre-nos{
        opacity: 0;
        transform: translateY(20px);
        transition: all 0.2s ease-out;
    }
    
    .scroll-sobre-nos.fade-in{
        opacity: 1;
        transform: translateY(0);
    }
    
    .scroll-amarelo{
        opacity: 0;
        transition: all 0.2s ease-out;
    }
    
    .scroll-amarelo.fade-in{
        opacity: 1;
    }
    
    .scroll-vermelho{
        opacity: 0;
        transition: all 0.6s ease-out;
    }
    
    .scroll-vermelho.fade-in{
        opacity: 1;
    }
    
    .scroll-turquesa{
        opacity: 0;
        transition: all 1s ease-out;
    }
    
    .scroll-turquesa.fade-in{
        opacity: 1;
    }
    
    .scroll-escuro{
        opacity: 0;
        transition: all 1.4s ease-out;
    }
    
    .scroll-escuro.fade-in{
        opacity: 1;
    }*/
} 

@media screen and (min-width: 480px){
    .col-4{
        width: 60vw;
        height: 100%;
    }
    .col-5{
        width: 40vw;
        height: 100%;
    }
    .tamanho-div{
        width: 100vw;
        height: 100vh;
    }
    .alinhar-conteudo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo-gif{
        width: 250px;
        padding: 0px 80px 80px 80px;
    }
    .fonte-texto{
        font-family: textos;
        color: #4c70aa;
        text-align: center;
        padding: 20px 70px 20px 70px;
    }
    .texto-grande{
        font-size: 19pt;
        line-height: 19pt;
    }
    .texto-pequeno{
        font-size: 12pt;
        line-height: 14pt;
    }
    .secao, .secao-tamanho, .mobile-ocutar{
        display: none;
    }
    .img-telas{
        height: 500px;
    }
}